<style type="text/css">
    /* Custom css */
    @font-face {
      font-family: 'Akkurat Regular';
      src: url("/fonts/akkurat-regular.woff2") format("woff2"), url("/fonts/akkurat-regular.woff") format("woff");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'Akkurat Bold';
      src: url("/fonts/akkurat-bold.woff2") format("woff2"), url("/fonts/akkurat-bold.woff") format("woff");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'Platform Light';
      src: url("/fonts/platform-light.woff2") format("woff2"), url("/fonts/platform-light.woff") format("woff");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'Platform Light Italic';
      src: url("/fonts/platform-light-italic.woff2") format("woff2"), url("/fonts/platform-light-italic.woff") format("woff");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'Platform Regular';
      src: url("/fonts/platform-regular.woff2") format("woff2"), url("/fonts/platform-regular.woff") format("woff");
      font-weight: normal;
      font-style: normal; }

    @font-face {
      font-family: 'Platform Medium';
      src: url("/fonts/platform-medium.woff2") format("woff2"), url("/fonts/platform-medium.woff") format("woff");
      font-weight: normal;
      font-style: normal; }

    html,
    body {
      font-family: "Akkurat Regular", sans-serif;
      font-weight: normal; }

    body {
      font-size: 17px !important;
      text-rendering: geometricPrecision;
      font-feature-settings: 'ss01'; }

    h1 {
      font-family: "Platform Medium", sans-serif;
      letter-spacing: 0.01em;
      text-transform: none;
      text-align: left;
      font-weight: normal; }

    h2, h3, h4, h5, h6 {
      font-family: "Akkurat Bold", sans-serif;
      letter-spacing: 0.01em;
      font-weight: normal; }

    h4, h5, h6 {
      text-decoration: underline; }

    h1 {
      font-size: 3.25rem; }

    h2 {
      font-size: 2.1rem; }

    h3 {
      font-size: 1.8rem; }

    h4 {
      font-size: 1.5rem; }

    h5 {
      font-size: 1.2rem; }

    h6 {
      font-size: 0.9rem; }

    h1, h2, h3, h4, h5, h6 {
      margin: 2.5rem 0 0 0; }

    p {
      margin: 0.5rem 0 1.7rem 0;}

    code {
      background: #f6f6f6;
      vertical-align: top;
      }

    .nav > i {
      font-size: 2rem;}

    mark {
      background: #ffed00;
      color: #333;
    }
</style>
